# Firebase Security (CRITICAL: Do not remove)
serviceAccountKey.json

# Python Cache
__pycache__/
*.pyc

# Local Environment/System files
.DS_Store
.venv/
env/
# Streamlit secrets
.streamlit/secrets.toml

# Large media & presentations
*.mp4
*.pptx
*.pdf
*.png

# Ignore all in Scs except the required jpgs and csvs
Scs/*
!Scs/*.jpg
!Scs/*.csv
